<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>774970731975-h3p8g8navfme9ngnr47s4bmagf1g05ar.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.774970731975-h3p8g8navfme9ngnr47s4bmagf1g05ar</string>
	<key>API_KEY</key>
	<string>AIzaSyAidH13Nr8Md82awkwkhqGnYKpN2mWeDgQ</string>
	<key>GCM_SENDER_ID</key>
	<string>774970731975</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Abhishek.com.FirebaseDemo</string>
	<key>PROJECT_ID</key>
	<string>fir-demo-98c02</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-demo-98c02.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:774970731975:ios:78c228f17afab6acdb3de2</string>
	<key>DATABASE_URL</key>
	<string>https://fir-demo-98c02.firebaseio.com</string>
</dict>
</plist>